.heading{
    padding:50px;
}
.heading a{
    color:brown;
    font-weight:bold;
}
.content-1 a{color:brown;}
.red{ 
background-color: brown;
width:270px;

}
.red a{
    color:white;
}
.red a:hover{color:skyblue;}
.grey
{background-color: #DDDDDD;
width:270px;
}
.grey a{
    color:black;
}
.grey a:hover{color:gray;}
#h4{
    padding:0;
  
}
#h4 .col-md-2{
 
    margin-top:30px;
}
#h4 img{margin-top:0;}