* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*页头*/
.header {
    width: 100%;
    height: 170px;
    display: block;
    position: relative;
}
.h1{
    width: 670px;
    position: relative;
    top: 25px;
    left: 15px;
}
.h1 img{
    height: 100px;
}
.h2{
    position: absolute;
    right: 0;
    top: 0px;
}
.h2 img{
    height: 140px;
}
.h3{
    height: 40px;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0px;
    padding-top: 20px;
}
.h3>li{
    width: 70px;
    display: inline;
    position: relative;
    top: 8px;
    margin: 0;
    padding: 11.5px 10px;
    font-size: 12px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
/*主体*/
.zhuti {
    position: relative;
    top: 11px;
    width: 100%;
    height: 1800px;
    margin: 0 auto;
}
.z1 {
    width: 100%;
    height: 105px;
    padding-top: 72px;
}

.z1 img {
    width: 100%;
    height: 105px;
}
.zj {
    width: 1212.5px;
    height: 1800px;
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.zj1{
    width: 100%;
    height: 300px;
    position: relative;
    border-style: solid;
    border-color: #DDDDDD;
}
.zj11{
    position: relative;
    font-size: 25px;
    left: 20px;
    top: 10px;
    width: 320px;
}
.zj12 img{
    position: relative;
    top: 10px;
    left: 20px;
    width: 320px;
}
.zj13{
    font-size: 13px;
    position: absolute;
    left: 350px;
    top: 40px;
}
.zj2{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    position: relative;
    border-style: solid;
    border-color: #DDDDDD;
}
.zj22{
    font-size: 13px;
    position: relative;
    top: 10px;
    left: 20px;
    width: 850px;
}
.zj23{
    position: absolute;
    left: 893px;
    top: 40px;
}
.zj23 img{
    width: 320px;
}
.zj3{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    position: relative;
    border-style: solid;
    border-color: #DDDDDD;
}
.zj4{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    position: relative;
    border-style: solid;
    border-color: #DDDDDD;
}
.zj5{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    position: relative;
    border-style: solid;
    border-color: #DDDDDD;
}
/*页脚*/
.footer{
    height: 150px;
    width: 100%;
    position: relative;
}
.f1{
    height: 90px;
    width: 100%;
    background-color: #DDDDDD;
}
.f11{
    width: 264px;
    position: absolute;
    top: 25px;
    left: 540px;
}
.f11>li{
    display: inline;
    margin-right: 10px;
}
.f11>li img{
    height: 40px;
}
.f22{
    height: 70px;
    background-color: #222222;
    position: relative;
}
.f221{
    position: absolute;
    left: 60px;
    top: 15px;
}
.f221>li{
    display: inline;
    font-size: 10px;
    color: #DDDDDD;
}
.f222{
    position: absolute;
    top: 20px;
    font-size: 10px;
    right: 60px;
}
.f223{
    position: absolute;
    top: 38px;
    font-size: 10px;
    right: 60px;
}