* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*页头*/
.header {
    width: 100%;
    height: 170px;
    display: block;
    position: relative;
}
.h1{
    width: 670px;
    position: relative;
    top: 25px;
    left: 15px;
}
.h1 img{
    height: 100px;
}
.h2{
    position: absolute;
    right: 0;
    top: 0px;
}
.h2 img{
    height: 140px;
}
.h3{
    height: 40px;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 20px;
}
.h3>li{
    width: 70px;
    display: inline;
    position: relative;
    top: 8px;
    margin: 0;
    padding: 11.5px 10px;
    font-size: 12px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
/*主体*/
.zhuti{
    position: relative;
    top: 14px;
    height: 1595px;
    width: 100%;
}
.z1{
    position: relative;
    width: 100%;
    height: 350px;
}
.z11{
    width: 100%;
    height: 100px;
    position: relative;
}
.z111{
    font-size: 25px;
    padding-top: 32.5px;
}
.z12{
    height: 250px;
    display: block;
}
.z12 img{
    height: 250px;
    width: 360px;
}
.z121{
    width: 360px;
    height: 250px;
}
.z122{
    width: 750px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 100px;
}
.more{
    position: absolute;
    right: 445px;
    top: 79px;
}
.keep{
    width: 700px;
    padding-left: 30px;
    font-size: 20px;
    position: absolute;
    bottom: -50px;
}
.april{
    padding-left: 30px;
    position: absolute;
    bottom: -80px;
}
.z2{
    width: 100%;
    height: 300px;
    position: relative;
    top: 50px;
}
.z21{
    width: 360px;
    height: 300px;
}
.z211{
    font-size: 25px;
    height: 60px;
}
.z212{
    position: relative;
    font-size: 15px;
    left: 40px;
    width: 320px;
    padding-bottom: 4px;
}
.z22{
    width: 360px;
    height: 300px;
    position: absolute;
    left: 390px;
    top: 0;
}
.z23{
    width: 360px;
    height: 300px;
    position: absolute;
    left: 780px;
    top: 0;
}
.z232 img{
    width: 350px;
}
.z3{
    width: 100%;
    height: 340px;
    position: relative;
    top: 90px;
}
.z31{
    font-size: 32px;
}
.z32{
    width: 260px;
    height: 270px;
    position: absolute;
    bottom: 0;
}
.z321{
    height: 28px;
    background-color: red;
    width: 260px;
}
.z3211{
    font-size: 15px;
    position: relative;
    left: 15px;
}
.z32 img{
    width: 260px;
}
.z323{
    background-color: #DDDDDD;
    height: 65px;
}
.z33{
    width: 260px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 293px;
}
.z33 img{
    width: 260px;
}
.z34{
    width: 260px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 586px;
}
.z34 img{
    width: 260px;
}
.z35{
    width: 260px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 879px;
}
.z35 img{
    width: 260px;
}
/*页脚*/
.footer{
    height: 150px;
    width: 100%;
    background-color: aliceblue;
    position: relative;
}
.f1{
    height: 90px;
    width: 100%;
    background-color: #DDDDDD;
}
.f11{
    width: 264px;
    position: absolute;
    top: 25px;
    left: 540px;
}
.f11>li{
    display: inline;
    margin-right: 10px;
}
.f11>li img{
    height: 40px;
}
.f22{
    height: 70px;
    background-color: #222222;
    position: relative;
}
.f221{
    position: absolute;
    left: 60px;
    top: 15px;
}
.f221>li{
    display: inline;
    font-size: 10px;
    color: #DDDDDD;
}
.f222{
    position: absolute;
    top: 20px;
    font-size: 10px;
    right: 60px;
}
.f223{
    position: absolute;
    top: 38px;
    font-size: 10px;
    right: 60px;
}