*{
	margin: 0;
	padding: 0;
}
.mid1{
	margin-top: 173px;
	float: left;
	width: 100%;
	height: 100px;
	background-color: #181015;
}
.mid1 span{
	line-height: 100px;
	font-size: 34px;
	margin-left: 200px;
	color: white;
}
.mid2{
	width: 1120px;
	margin: 0 auto;
	height: 4800px;

}

.left{
	width: 280px;
	position: relative;
	float: left;
}

.left span{
	line-height: 80px;
	font-size: 34px;
	color: black;
}

.left ul li{
	list-style-type: none;
	font-size: 18px;
	line-height: 28px;
}

.right{
	position: relative;
	float: left;
	width: 800px;
	margin-left: 20px;
}
.right span{
	line-height: 80px;
	font-size: 34px;
	color: #B60E4E;
}