.all {
    position: relative;
    width: 100%;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    height: 450px;
    overflow: hidden;
}

ul li,
ol li {
    list-style: none;
}

.screen {
    width: 100%;
    position: relative;
}

.screen>ul {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0px;
    width: 9000px;
}

.screen li {
    float: left;
}

.screen ul li img {
    width: 1920px;
    height: 450px;
    display: block;
}

.screen ol {
    position: absolute;
    top: 400px;
    left: 50%;
    z-index: 111;
}

.all ol li {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../image/bullet.png) no-repeat 0 0;
    margin: 0 5px;
    cursor: pointer;
}

.all ol>li.current {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../image/bullet.png) no-repeat 0 -20px;
    margin: 0 5px;
    cursor: pointer;
}

#arr {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#arr span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #000;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

#arr #right {
    right: 5px;
    left: auto;
}


/* 结束 */